@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--accent-blue: #1677ff;
	}
}

body {
	background: #dad5d5;
}

.fullScreenWithHeader {
	height: calc(100dvh - 60px);
}
